# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

#SHITTY output not in target directory
build.log

.DS_Store

logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID